.contacForm > form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: whitesmoke;
  align-items: center;
}

.tb {
  width: 100vw;
  border-collapse: whitesmoke;
}
.tb th,
.tb td {
  border: solid 1px #777;
  padding: 5px;
}
.tb thead {
  background-color: lightblue;
}
